<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Ui.styles.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @*temapdata not suport language persian*@
    <input type="hidden" id="Message" value="@TempData["Message"]" />
    @if (TempData["Message"] != null)
    {
        <script>
            alert(document.getElementById("Message").value);
        </script>
    }
    <div class="container-fluid">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
