@model Core.ViewModel.Categories.SubCategoryViewModel

<span>اضافه کردن زیردسته</span>
<form asp-area="Admin" asp-controller="SubCategory" asp-action="CreateSubCategory" method="post" role="form">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-5">
            <label asp-for="SubCategoryName"></label>
            <input type="text" asp-for="SubCategoryName" />
            <span class="text-danger" asp-validation-for="SubCategoryName"></span>
        </div>
        <div class="col-5">
            <span>ایجاد زیردسته برای @Model.CategoryName</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit">ایجاد</button>
        </div>
    </div>
</form>
<br />
<div class="row">
    <div class="col-4">
        <a asp-controller="SubCategory" asp-action="Index">بازگشت به صفحه دسته بندی قبلی</a>
    </div>
</div>