@model Core.ViewModel.Categories.MainCategoryViewModel

<span>ویرایش کردن دسته اصلی</span>
<form asp-area="Admin" asp-controller="MainCategory" asp-action="UpdateMainCategory" method="post" role="form">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-5">
            <label asp-for="MainCategoryName"></label>
            <input type="text" asp-for="MainCategoryName" />
            <span class="text-danger" asp-validation-for="MainCategoryName"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit">ویرایش</button>
        </div>
    </div>
</form>
<br />
<div class="row">
    <div class="col-4">
        <a asp-controller="MainCategory" asp-action="Index">بازگشت به صفحه دسته بندی قبلی</a>
    </div>
</div>