@model Core.ViewModel.DriverRegister.DriverViewModel

<span>اضافه کردن راننده</span>
<form asp-area="Admin" asp-controller="Driver" asp-action="AddDriver" method="post" role="form">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-4">
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="col-4">
            <label asp-for="NationalCode"></label>
            <input type="text" asp-for="NationalCode" />
            <span class="text-danger" asp-validation-for="NationalCode"></span>
        </div>
        <div class="col-4">
            <label asp-for="PhoneNumber"></label>
            <input type="text" asp-for="PhoneNumber" />
            <span class="text-danger" asp-validation-for="PhoneNumber"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label asp-for="Address"></label>
            <textarea asp-for="Address"></textarea>
            <span class="text-danger" asp-validation-for="Address"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit">ایجاد</button>
        </div>
    </div>
</form>
<br />
<div class="row">
    <div class="col-4">
        <a asp-controller="Driver" asp-action="Index">بازگشت</a>
    </div>
</div>