@model List<Core.ViewModel.DriverRegister.DriverViewModel>

@Html.AntiForgeryToken()
<h1>رانندگان</h1>
<div class="row">
    <div class="col-9">
        <a asp-controller="Driver" asp-action="AddDriver">ساخت راننده</a>
    </div>
    <div class="col-3">
        <a asp-controller="Home" asp-action="Index">بازگشت</a>
    </div>
</div>
<br />
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-3">
            <label>@item.Name</label>
        </div>
        <div class="col-1">
            <a asp-controller="Driver" asp-action="UpdateDriver" asp-route-id="@item.Id">ویرایش</a>
        </div>
        <div class="col-1">
            <a asp-controller="Driver" asp-action="DeleteDriver" asp-route-id="@item.Id">حذف</a>
        </div>
    </div>
    <br />
}
