@model Core.ViewModel.Admin.Roles

<span>ارتقا کاربر</span>
<form asp-area="Admin" asp-controller="Roles" asp-action="AddRoleUser" method="post" role="form">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-5">
            <label asp-for="Email"></label>
            <input type="email" asp-for="Email" />
        </div>
        <div class="col-5">
            <label asp-for="RoleName"></label>
            <select asp-for="RoleName" asp-items="@Model.SelectRoles"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <button type="submit">ثبت</button>

        </div>
    </div>
</form>

<div class="row">
    <div class="col-4">
        <a asp-controller="Home" asp-action="index">بازگشت به صفحه ادمین</a>
    </div>
</div>