@model Core.ViewModel.Admin.Roles

<span>اضافه کردن نقش</span>
<form asp-area="Admin" asp-controller="Roles" asp-action="CreateRole" method="post" role="form">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-5">
            <label asp-for="RoleName"></label>
            <input type="text" asp-for="RoleName" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <button type="submit">ساختن</button>

        </div>
    </div>
</form>

<div class="row">
    <div class="col-4">
        <a asp-controller="Home" asp-action="index">بازگشت به صفحه ادمین</a>
    </div>
</div>