@model Core.ViewModel.Products.ProductViewModel

<span>ویرایش کردن محصول</span>
<form asp-area="Admin" asp-controller="Products" asp-action="UpdateProductForUnImportantCategory" enctype="multipart/form-data" method="post" role="form">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="UserCreatorId" />
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-4">
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" />
        </div>
        <div class="col-4">
            <label asp-for="Price"></label>
            <input type="text" placeholder="قیمت به تومان" pattern="^[0-9]*(?:\.[0-9]*)?$" asp-for="Price" />
        </div>
        <div class="col-4">
            <label asp-for="DiscountPrice"></label>
            <input type="text" placeholder="قیمت به تومان" pattern="^[0-9]*(?:\.[0-9]*)?$" asp-for="DiscountPrice" />
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <label asp-for="Description"></label>
            <textarea asp-for="Description"></textarea>
        </div>
        <div class="col-4">
            <label>تصویر</label>
            <input type="file" asp-for="Images" multiple />
        </div>
    </div>
    <div class="row">
        @if (Model.Existance is not null)
        {
            <div class="col-4">
                <label asp-for="Existance"></label>
                <input type="number" asp-for="Existance" />
            </div>
        }
        else
        {
            <div class="col-4">
                <label asp-for="IsAlwaysValid"></label>
                <input type="checkbox" asp-for="IsAlwaysValid" />
            </div>
        }
        @if (Model.Color is not null)
        {
            <div class="col-4">
                <label asp-for="Color"></label>
                <input type="text" asp-for="Color" />
            </div>
        }
        @if (Model.Size is not null)
        {
            <div class="col-4">
                <label asp-for="Size"></label>
                <input type="text" asp-for="Size" />
            </div>
        }
        @if (Model.Country is not null)
        {
            <div class="col-4">
                <label asp-for="Country"></label>
                <input type="text" asp-for="Country" />
            </div>
        }
        @if (Model.Model is not null)
        {
            <div class="col-4">
                <label asp-for="Model"></label>
                <input type="text" asp-for="Model" />
            </div>
        }
        @if (Model.Brand is not null)
        {
            <div class="col-4">
                <label asp-for="Brand"></label>
                <input type="text" asp-for="Brand" />
            </div>
        }
        @if (Model.Gender is not null)
        {
            <div class="col-4">
                <label asp-for="Gender"></label>
                <input type="text" asp-for="Gender" />
            </div>
        }
        @if (Model.Weight is not null)
        {
            <div class="col-4">
                <label asp-for="Weight"></label>
                <input type="text" asp-for="Weight" />
            </div>
        }
        @if (Model.Lenght is not null)
        {
            <div class="col-4">
                <label asp-for="Lenght"></label>
                <input type="text" asp-for="Lenght" />
            </div>
        }
        @if (Model.Wide is not null)
        {
            <div class="col-4">
                <label asp-for="Wide"></label>
                <input type="text" asp-for="Wide" />
            </div>
        }
        @if (Model.Height is not null)
        {
            <div class="col-4">
                <label asp-for="Height"></label>
                <input type="text" asp-for="Height" />
            </div>
        }
        @if (Model.Graphics is not null)
        {
            <div class="col-4">
                <label asp-for="Graphics"></label>
                <input type="text" asp-for="Graphics" />
            </div>
        }
        @if (Model.Processor is not null)
        {
            <div class="col-4">
                <label asp-for="Processor"></label>
                <input type="text" asp-for="Processor" />
            </div>
        }
        @if (Model.RAM is not null)
        {
            <div class="col-4">
                <label asp-for="RAM"></label>
                <input type="text" asp-for="RAM" />
            </div>
        }
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit">ویرایش</button>
        </div>
    </div>
</form>
<br />
<div class="row">
    <div class="col-4">
        <a asp-controller="Products" asp-action="IndexProductForUnImportantCategory">بازیگشت</a>
    </div>
</div>