@model Core.ViewModel.Admin.Roles

<span>حذف نقش</span>
<form asp-area="Admin" asp-controller="Home" asp-action="DeleteRole" method="post" role="form">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-5">
            <label asp-for="RoleName"></label>
            <select asp-for="RoleName" asp-items="@Model.SelectRoles"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <button type="submit">حذف</button>

        </div>
    </div>
</form>

<div class="row">
    <div class="col-4">
        <a asp-action="index">بازگشت به صفحه ادمین</a>
    </div>
</div>