<h1>HomeAdmin</h1>
<div class="row">
    <div class="col-3">
        <a asp-action="CreateRole">ساخت نقش</a>
    </div>

    <div class="col-3">
        <a asp-action="DeleteRole">حذف نقش</a>
    </div>

    <div class="col-3">
        <a asp-action="AddRoleUser">افزایش ارتقا کاربر</a>
    </div>

    <div class="col-3">
        <a asp-action="DeleteRoleUser">کاهش ارتقا کاربر</a>
    </div>
</div>