@model Core.ViewModel.Authentication.CompleteProfileViewModel

<span>تکمیل پروفایل</span>
<form asp-controller="Account" asp-action="CompleteProfile" method="post">
    @Html.AntiForgeryToken()
    <input asp-for="Id" type="hidden" value="@UserManager.GetUserAsync(User).Result.Id" />
    <div class="row">
        <div class="col-5">
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <label asp-for="LastName"></label>
            <input type="text" asp-for="LastName" />
            <span class="text-danger" asp-validation-for="LastName"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <label asp-for="PhoneNumbe"></label>
            <input type="number" asp-for="PhoneNumbe" />
            <span class="text-danger" asp-validation-for="PhoneNumbe"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <label asp-for="Province"></label>
            <input type="text" asp-for="Province" />
            <span class="text-danger" asp-validation-for="Province"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <label asp-for="City"></label>
            <input type="text" asp-for="City" />
            <span asp-validation-for="City"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <label asp-for="Adress"></label>
            <textarea asp-for="Adress"></textarea>
            <span class="text-danger" asp-validation-for="Adress"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <label asp-for="ZipCode"></label>
            <input type="number" asp-for="ZipCode" />
            <span class="text-danger" asp-validation-for="ZipCode"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <label asp-for="Description"></label>
            <textarea asp-for="Description"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button type="submit">ثبت</button>
        </div>
    </div>
</form>