
<form asp-action="Index" asp-controller="Account" method="post" enctype="multipart/form-data" >
    
    @ViewBag.code
    <div class="row">
        <div class="col-10">
            <input  />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button type="submit">ارسال پیام</button>
        </div>
    </div>
</form>