@model Core.ViewModel.EmailSender.MailSender

<form asp-action="ConfirmEmail" method="post">
    <div class="row">
        <div class="col-10">
            <input type="text" asp-for="SendCode" />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button type="submit">تایید</button>
        </div>
    </div>
</form>