@model Core.ViewModel.Authentication.LoginViewModel

<span>ورود به سایت</span>
<form asp-controller="Account" asp-action="Login" method="post">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-5">
            <label asp-for="Email"></label>
            <input type="email" asp-for="Email" />
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" />
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <button type="submit">ورود</button>

            <a asp-action="Register">عضویت در سایت</a>

            <a asp-action="ExistEmail">فراموشی رمز</a>

        </div>
    </div>
</form>