@model Core.ViewModel.RegisterViewModel

<form asp-controller="Account" asp-action="Register" method="post">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-10">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <label asp-for="Phone"></label>
            <input asp-for="Phone" />
            <span asp-validation-for="Phone"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <button type="submit">ثبت</button>
        </div>
    </div>
</form>